// bower:scss
// endbower

.fa-2x{
  font-size: 2em !important;
}

.fa-3x{
  font-size: 3em !important;
}

.fa-4x{
  font-size: 4em !important;
}

h3 {
    font-size: 15px;
}

h2 {
    font-size: 18px;
}

h1 {
    font-size: 30px;
}

body {
  background: #eae8e7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
